.bicicletas-bg {
   background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}

.bicicletas {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 40px;
   padding-top: 60px;
   padding-bottom: 60px;
}

.nossasbik-img {
   position: relative;
}

.nossasbik-img span {   
   background: var(--cor-12);
   display: block;
   padding: 8px 16px 8px 8px;
   position: absolute;
   top: 20px;
   right: 0px;
   border-radius: 4px 0px 0px 4px;
   background-color: var(--cor-11);
}

.bicicletas-conteudo {
   display: grid;
   grid-template-columns: 1fr auto;
   align-content: start;
}

.bicicletas-conteudo h2, 
.bicicletas-conteudo p {
   grid-column: 1/-1;
}

.bicicletas-conteudo h2 {
   margin-bottom: 20px;
}

.bicicletas-conteudo h2::before { 
   content: "";
   display: block;
   width: 12px;
   height: 8px;
   background-color: var(--p1);
   margin-bottom: 8px;
}

.bicicletas-conteudo p {
   margin-bottom: 32px;
}

.bicicletas-conteudo a {
   place-self: end;
}

.bicicletas-conteudo li {
   display: flex;
   align-items: center;
}

.bicicletas-conteudo li + li {
   margin-top: 16px;
}

.bicicletas-conteudo img {
   width: 24px;
   margin-right: 8px;
}

@media (max-width: 800px) {
   .bicicletas-bg {
   background: var(--cor-11);
}
   .bicicletas {
      grid-template-columns: 1fr;
      gap: 20px;
      padding-top: 40px;
      padding-bottom: 40px;
   }
}

@media (max-width: 600px) {
   .bicicletas {
      grid-template-columns: 1fr;
   }
   .bicicletas-conteudo ul {
      margin-bottom: 32px;
      font-size: 1rem;
      grid-template-columns: 1fr 1fr;
   }
   .bicicletas a {
      place-self: start;
   }
}