.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 20px;
   flex-wrap: wrap;
}

.header-menu {
   display: flex;
   gap: 40px;
   flex-wrap: wrap;
}

.header-bg {
   background-color: #000;
}

.header-menu a {
   padding: 16px 0px;
   display: inline-block;
   position: relative;
}

.header-menu a:after {
   content: "";
   display: block;
   width: 0;
   height: 2px;
   background: var(--cor-0);
   transition: 0.3s;
   position: absolute;
}

.header-menu a:hover:after {
   width: 100%;
}

@media (max-width: 800px) {
   .header-menu {
      gap: 10px;
   }
   .header-menu a {
      background: var(--cor-11);
      padding: 12px 20px;
      border-radius: 5px;
      margin-top: 20px;
   }
   .header-menu a:hover {
   background-color: var(--cor-10);
}
   .header-menu a:after {
      display: none; 
   }
}

@media (max-width: 600px) {
   .header-menu a {
      font-size: 12px;
   }
}