/*HEADER*/

* body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

.header-bg {
   background-color: #000;
}

.header-menu {
   padding: 0px;
   margin: 0px;
   list-style: none;
   display: flex;
   gap: 40px;
   flex-wrap: wrap;
}

.header-menu a {
   color: #fff;
   padding: 16px 0px;
   display: inline-block;
   font-size: 18px;
   position: relative;
}

.header-menu a:after {
   content: "";
   display: block;
   width: 0;
   height: 2px;
   background: #fff;
   transition: 0.3s;
   position: absolute;
}

.header-menu a:hover:after {
   width: 100%;
}

a {
   text-decoration: none;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   max-width: 1200px;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   flex-wrap: wrap;
}

@media (max-width: 800px) {
   .header-menu {
      gap: 10px;
   }
   .header-menu a {
      background: #111;
      padding: 12px 20px;
      border-radius: 5px;
      margin-top: 20px;
   }
   .header-menu a:hover {
   background-color: #2e2e2e;
}
   .header-menu a:after {
      display: none;
   }
}

@media (max-width: 600px) {
   .header-menu a {
      font-size: 12px;
   }
}

/*INICIAL BIC FEITAS SOB MEDIDA*/

img {
   max-width: 100%;
   display: block;
}

.inicial-bg {
   background-color: #000;
   display: grid;
   box-shadow: inset 0 -120px #fff;
}

.container-inicial {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0px 40px;
   max-width: 1200px;
   box-sizing: border-box;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: auto;
   margin-right: auto;
}

.container-inicial img {
   object-fit: cover;
}

.container-inicial h1 {
   color: #fff;
   font-size: 64px;
   line-height: 1.125;
}

.container-inicial h1 span {
   color: #ffbb00;
}

.container-inicial p {
   color: #b2b2b2;
   font-size: 24px;
   line-height: 1.5;
}

.container-inicial p,
.container-inicial a {
   grid-column: 1;
}

.container-inicial img {
   grid-column: 2;
   grid-row: 1/3;
}

.container-inicial a {
   display: inline-block;
   color: #332200;
   padding: 16px 10px;
   background: linear-gradient(#FB0, #B07603);
   border-radius: 5px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
   text-transform: uppercase;
   font-size: 18px;
   line-height: 1.33;
   font-weight: bold;
}

.container-inicial a:hover {
   background: linear-gradient(#ffb60d, #e59317);
}

.container-inicial p {
   margin-bottom: 32px;
}

.container-cont {
   padding-bottom: 150px;
}

@media (max-width: 1200px) {
   .container-inicial h1 {
   font-size: 40px;
   }

   .container-inicial p {
   color: #b2b2b2;
   font-size: 20px;
   }
   .container-inicial a {
   padding: 12px 8px;
   font-size: 16px;
   }
}

@media (max-width: 800px) {
   .inicial-bg {
      box-shadow: inset 0 -60px #fff;
   }
   .container-inicial h1 {
   font-size: 32px;
   }

   .container-inicial p {
   color: #b2b2b2;
   font-size: 16px;
   line-height: 1.5;
   }
   .container-inicial a {
   padding: 12px 8px;
   font-size: 12px;
   }

   .container-inicial img {
      height: 300px;
      width: 100%;
   }
}

@media (max-width: 600px) {
   .container-inicial h1 {
   font-size: 24px;
   }

   .container-inicial p {
   color: #b2b2b2;
   font-size: 12px;
   line-height: 1.5;
   }
   .container-inicial a {
   padding: 12px 8px;
   font-size: 8px;
   margin-bottom: 20px;
   }
   .container-inicial{
      display: block;
   }
   .container-cont {
      padding-bottom: 0px;

   }
}
