.parceiros h2 span {
   color: var(--p1);
}

.parceiros h2 {
   margin-top: 120px;
   margin-bottom: 60px;
   padding-left: 20px;
}

.parceiros ul {
   max-width: 1400px;
   padding: 0 20px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}

.parceiros li {
   padding: 32px;
   border-left: 2px solid var(--cor-2);
}

.parceiros img {
   margin: auto;
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
   border-left: none;
}

.parceiros li:nth-child(n + 5) {
   border-top: 2px solid var(--cor-2);
}

@media (max-width: 800px) {
   .parceiros {
      padding-bottom: 60px;
   }
   .parceiros h2 {
      margin-bottom: 20px;
   }
   .parceiros ul {
      grid-template-columns: 1fr 1fr;
   }
   .parceiros li {
   padding: 20px;
   }
   .parceiros li:nth-child(n + 3) {
   border-top: 2px solid var(--cor-2);
   }
   .parceiros li:nth-child(odd) {
      border-left: none;
   }
}